<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
            $.get("/getUsers", function(data){
                var userData = data.users;
                if (userData != "") {
                    for(let i = 0; i < userData.length; i++) {
                        $("#userTable").append(`<tr><td>`+userData[i].username +`</td><td>`+userData[i].acctype+`</td><td><button onclick="UserEdit('`+ userData[i].username+`');">Edit</button></td><td><button onclick="Delete('`+userData[i].username+`');">Delete</button></td></tr>`);
                    }
                }
            })
        })
    </script>
<!-- Start of first page: #one -->
<div data-role="page" id="adminUsers">

    <div data-role="header">
        <h1>Admin Page</h1>
    </div><!-- /header -->
    <div data-role="navbar" data-grid="d">
        <ul>
            <li><a href="#" onclick="TypeHome()" class="ui-btn-active">Home</a></li>
            <li><a href="/fitness">Fitness</a></li>
            <li><a href="/health">Health</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="#">Meditation</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#" onclick="LogOut()">Log Out</a></li>
        </ul>

        <div>
            <h2>Welcome!</h2>
            <button onclick="TypeHome()">Click me</button>
            <p>
                You have arrived at the Admin page.
            </p>

            <p>
                The role of admin is to maintain the integrity of the website.
                <br>The admin views and oversees the roles of both the supervisor and customer
                <br>They are on hand to deal with troubleshooting difficulties
                <br>The admin has full rights and access to the website.
            </p>
        </div>

    </div><!-- /navbar -->
    <div class="table">
        <table id="userTable">
            <tr>
                <th>Username</th>
                <th>User Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
    <button id="closeUsers" class="button expanded">Close Table</button>
</div><!-- /content -->

<div data-role="footer" data-theme="a">
    <h4>Page Footer</h4>
</div><!-- /footer -->
</div><!-- /page one -->

    <script>

        function buttonClick(){
            alert("button was clicked");
        }
        function LogOut(){
            sessionStorage.clear();
            window.location='/';
        }
        function TypeHome(){
            if(sessionStorage.getItem('acctype') === 'admin'){
                alert("button was clicked");
                window.location = '/customer';
            }
            else if(sessionStorage.getItem("acctype") === "supervisor"){
                window.location ='/supervisor';
            }
            else if(sessionStorage.getItem('acctype') == 'customer'){
                window.location ='/customer';
            }
            else{
                alert("button was clicked and nothing happened");
            }
        }

        function Delete(user){
            $.post("/adminDeleteUser", {user: user})
                .done(function(data){
                    alert(data);
                    window.location='/admin';
                });
        }

        function UserEdit(user){
            sessionStorage.setItem("username",user);
            window.location='/#adminUsers';
        }
    </script>
</body>
</html>
