<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>

<body>
<!-- Main page of Books: #home -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Books</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books" class="ui-btn-active">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Books</p>
		<p>Choose a book category below that interests you</p>
	</div>

	<div>
		<a href="#fit" class="ui-btn ui-btn-inline">Fitness Books</a>
		<a href="#mindful" class="ui-btn ui-btn-inline">Mindfulness Books</a>
		<a href="#cook" class="ui-btn ui-btn-inline">Cook Books</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

	<!-- Start of first page: #one -->
<div data-role="page" id="fit">

	<div data-role="header">
		<h1>Fitness Books</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books" class="ui-btn-active">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<a href="#fit" class="ui-btn ui-btn-inline">Fitness Books</a>
		<a href="#mindful" class="ui-btn ui-btn-inline">Mindfulness Books</a>
		<a href="#cook" class="ui-btn ui-btn-inline">Cook Books</a>
	</div>

	<div>
		<p>This page is about books A</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

	<!-- Start of first page: #two -->
	<div data-role="page" id="mindful">

		<div data-role="header">
			<h1>Mindfulness Books</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books" class="ui-btn-active">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<a href="#fit" class="ui-btn ui-btn-inline">Fitness Books</a>
			<a href="#mindful" class="ui-btn ui-btn-inline">Mindfulness Books</a>
			<a href="#cook" class="ui-btn ui-btn-inline">Cook Books</a>
		</div>

		<div>
			<p>This page is about Mindfulness & Meditation Books</p>
			<img src="images/Flourishing.jpg"><a href="https://www.amazon.co.uk/Flourishing-Maureen-Gaffney/dp/0241955033">Flourishing</a>
			<br>
			<br><img src="images/MindfulnessForWorriers.jpg"><a href="https://www.amazon.co.uk/Mindfulness-Worriers-Overcome-Everyday-Anxiety/dp/B00XLMCE30/ref=sr_1_1?crid=1WZSEW7O9LRJW&keywords=mindfulness+for+worriers+by+padraig&qid=1640019507&s=books&sprefix=mindfulness+for+worriers+by+padraig+%2Cstripbooks%2C73&sr=1-1">MindfulnessForWorriers</a>
			<br><p>
			<img src="images/OvercomingAnxiety.jpg"><a href="https://www.amazon.co.uk/Overcoming-Anxiety-Books-Prescription-Title/dp/1849018782/ref=sr_1_1?crid=1CQWYP3VT5K7I&keywords=overcoming+anxiety+helen+kennerley&qid=1640019400&s=books&sprefix=overcoming+anxiety+%2Cstripbooks%2C108&sr=1-1">OvercomingAnxiety</a>
				<br>While this book is intended to help with anxiety you should immediately consult your doctor and discuss the best course of action to take from a licenced and practicing medical professional
			</p>
			<br><img src="images/SelfAcceptance.jpg"><a href="https://www.amazon.co.uk/Self-Acceptance/dp/B07NGX2WRP/ref=sr_1_1?crid=3BG19XOJOEUQE&keywords=self+acceptance+harry+barry&qid=1640019560&sprefix=self+acceptance+harry+barry%2Caps%2C86&sr=8-1">SelfAcceptance</a>
			<br><p>
				<img src="images/ComingThroughDepression"><a href="https://www.amazon.co.uk/Coming-Through-Depression-Approach-Recovery/dp/0717147800/ref=sr_1_1?crid=1BW1DVN53OW6Y&keywords=coming+through+depression+tony+bates&qid=1640355977&sprefix=coming+through+depression+tony+bates%2Caps%2C122&sr=8-1">ComingThroughDepression</a>
			<br>While this book is intended to help with depression you should immediately consult your doctor and discuss the best course of action to take from a licenced and practicing medical professional
			</p>
			<br><img src="images/LightMind.jpg"><a href="https://www.amazon.co.uk/Light-Mind-Mindfulness-Enhance-Daily-ebook/dp/B005HIONWQ/ref=sr_1_2?crid=7TBNNVX4KSK5&keywords=light+mind+padraig+o%27morain&qid=1640356017&sprefix=light+mind+padraig+o+morain%2Caps%2C155&sr=8-2">LightMind</a>
		</div>

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of first page: #three -->
	<div data-role="page" id="cook">

		<div data-role="header">
			<h1>Cook Books</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books" class="ui-btn-active">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<a href="#fit" class="ui-btn ui-btn-inline">Fitness Books</a>
			<a href="#mindful" class="ui-btn ui-btn-inline">Mindfulness Books</a>
			<a href="#cook" class="ui-btn ui-btn-inline">Cook Books</a>
		</div>

		<div>
			<p>This page is about Cook Books</p>
			<img src="images/BeginnersCookBook.jpg"><a href="https://www.amazon.co.uk/Beginners-Cook-Book-Pamela-Gwyther/dp/B0016A51T8/ref=sr_1_1?crid=KK2DR4SXNNH2&keywords=beginners+by+pamela+gwyther&qid=1640019020&sprefix=beginners+by+pamela+gwyther%2Caps%2C92&sr=8-1 ">BeginnersCookBook</a>
			<br><img src = "images/HomeEconomics.jpg"><a href="https://www.amazon.co.uk/Neven-Maguires-Home-Economics-Life/dp/0717180794/ref=sr_1_10?crid=3LLQ9Q12G4GXF&keywords=neven+maguire+cookery+books&qid=1640018899&sprefix=neven+%2Caps%2C155&sr=8-10 ">HomeEconomics</a>
			<br><img src ="images/LearnToCook.jpg"><a href="https://www.amazon.co.uk/Learn-Cook-Neven-4-Step-Recipes/dp/0717192628/ref=sr_1_2?crid=3LLQ9Q12G4GXF&keywords=neven+maguire+cookery+books&qid=1640018849&sprefix=neven+%2Caps%2C155&sr=8-2">LearnToCook</a>

		</div>


		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

  </body>
</html>
