<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>

<body>
<!-- Main page of Books: #home -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Books</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books" class="ui-btn-active">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Books</p>
		<p>Choose a book category below that interests you</p>
	</div>

	<div>
		<a href="#bookA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#bookB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#bookC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

	<!-- Start of first page: #one -->
<div data-role="page" id="bookA">

	<div data-role="header">
		<h1>Books A page</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books" class="ui-btn-active">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<a href="#bookA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#bookB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#bookC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div>
		<p>This page is about books A</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

	<!-- Start of first page: #two -->
	<div data-role="page" id="bookB">

		<div data-role="header">
			<h1>Books B page</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books" class="ui-btn-active">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<a href="#bookA" class="ui-btn ui-btn-inline">A Category</a>
			<a href="#bookB" class="ui-btn ui-btn-inline">B Category</a>
			<a href="#bookC" class="ui-btn ui-btn-inline">C Category</a>
		</div>

		<div>
			<p>This page is about books B</p>
		</div>

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of first page: #three -->
	<div data-role="page" id="bookC">

		<div data-role="header">
			<h1>Books C Page</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books" class="ui-btn-active">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<a href="#bookA" class="ui-btn ui-btn-inline">A Category</a>
			<a href="#bookB" class="ui-btn ui-btn-inline">B Category</a>
			<a href="#bookC" class="ui-btn ui-btn-inline">C Category</a>
		</div>

		<div>
			<p>This page is about books C</p>
		</div>

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

  </body>
</html>
