<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>

<body>
	<!-- Start of first page: #one -->
<div data-role="page" id="customer">

	<div data-role="header">
		<h1>Customer Page</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#"  onclick='TypeHome()' class="ui-btn-active">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="">Meditation</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#" onclick="LogOut()">Log Out</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<h2>Welcome!</h2>
		<p>
			You have arrived to our Customer page.
		</p>

		<p>
			Our aim is to help provide you our valued customer with a tailored experience.
			<br>We offer a collaborative of items from fitness and meditation, to health and recipes.
			<br>We hope you enjoy your experience with us from your first steps into fitness, relaxing with meditation and gaining experience with pot walloping in the kitchen.
			<br>We appreciate your participation and hope you can make BetterYou a BetterUs
		</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

	<script>
		function LogOut(){
			sessionStorage.clear();
			window.location='/';
		}
		function TypeHome(){
			if (sessionStorage.getItem("acctype") == "admin"){
				window.location = "/admin";
			}
			else if(sessionStorage.getItem("acctype") == "supervisor"){
				window.location ="/supervisor";
			}
			else if (sessionStorage.getItem("acctype") == "customer"){
				window.location ="/customer";
			}
		}
	</script>

  </body>
</html>
