<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>

<body>
	<!-- Main page of Fitness: main -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Fitness Main</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness" class="ui-btn-active">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Fitness</p>
		<p>Choose a fitness category below that interests you</p>
	</div>

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#fitnessA" class="ui-btn ui-btn-inline">Beginners</a>
		<a href="#fitnessB" class="ui-btn ui-btn-inline">Middle Stage</a>
		<a href="#fitnessC" class="ui-btn ui-btn-inline">Advanced</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

	<!-- Start of first page: #one -->
	<!--Please change the page IDs according to your category, these are just placeholders-->
	<div data-role="page" id="fitnessA">

		<div data-role="header">
			<h1>Fitness Beginner page</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness" class="ui-btn-active">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<!--Please change the page IDs according to your category, these are just placeholders-->
			<a href="#fitnessA" class="ui-btn ui-btn-inline">A Beginners</a>
			<a href="#fitnessB" class="ui-btn ui-btn-inline">Middle Stage</a>
			<a href="#fitnessC" class="ui-btn ui-btn-inline">C Advanced</a>
		</div>

		<div>
			//<p>This page is Beginners Fitness </p>
			<h2> Beginners Week</h2>

			Monday: Upper body workout.
				<ul>
					<li>	We will begin by stretching our arms and legs.  </li>
					<li> 	Followed  by 12  jumping jacks.  </li>
					<li> 	6 squads </li>
					<li>	15 arm rotations </li>
					<li>	10 Plank rotation </li>
					<li>	10 shoulder taps </li>
				</ul>

				<ul>
					<li>	60s Jumping scissor arms  </li>
					<li> 	60s windmills(toe to toe)  </li>
					<li> 	60s arnold press(dumbbells over head, back on shoulders) </li>
					<li>	60s arnold press sitting down at 90 degrees </li>
					<li>	60s lateral rises(Arms lifting dumbbells from sides) </li>
					<li>	40s push up(legs crossed if found difficult) </li>
					<li>	60 chest press up(using dumbbells, laying on back to push dumbbells up) </li>
					<li>	60s one arm dumbbells raise(lean forward and pull dumbbells up) </li>
					<li>	60s other arm dumbbells raise(lean forward and pull dumbbells up) </li>
					<li>	60s arms forward, bring dumbbells in putting elbows at 90 degrees to shoulders</li>
					<li>	60s both arms bicep curls </li>
					<li>	45s of hammer curls </li>
				</ul>

			</p>

		Tuesday: Lower body workout.


		</div>

	</div>

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page one -->

	<!-- Start of first page: #two -->
	<!--Please change the page IDs according to your category, these are just placeholders-->
	<div data-role="page" id="fitnessB">

		<div data-role="header">
			<h1>Fitness Middle Stage page</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness" class="ui-btn-active">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<!--Please change the page IDs according to your category, these are just placeholders-->
			<a href="#fitnessA" class="ui-btn ui-btn-inline">Beginners</a>
			<a href="#fitnessB" class="ui-btn ui-btn-inline">Middle Stage</a>
			<a href="#fitnessC" class="ui-btn ui-btn-inline">Advanced</a>
		</div>

		<div>
			//<p>This page is Middle Stage Fitness </p>
			<h2> Middle Stage Week</h2>

			Monday: Upper body workout.
			<ul>
				<li>	We will begin by stretching our arms and legs.  </li>
				<li> 	Followed  by 12  jumping jacks.  </li>
				<li> 	6 squads </li>
				<li>	15 arm rotations </li>
				<li>	10 Plank rotation </li>
				<li>	10 shoulder taps </li>
			</ul>

			<ul>
				<li>	60s Jumping scissor arms  </li>
				<li> 	60s windmills(toe to toe)  </li>
				<li> 	60s arnold press(dumbbells over head, back on shoulders) </li>
				<li>	60s arnold press sitting down at 90 degrees </li>
				<li>	60s lateral rises(Arms lifting dumbbells from sides) </li>
				<li>	40s push up(legs crossed if found difficult) </li>
				<li>	60 chest press up(using dumbbells, laying on back to push dumbbells up) </li>
				<li>	60s one arm dumbbells raise(lean forward and pull dumbbells up) </li>
				<li>	60s other arm dumbbells raise(lean forward and pull dumbbells up) </li>
				<li>	60s arms forward, bring dumbbells in putting elbows at 90 degrees to shoulders</li>
				<li>	60s both arms bicep curls </li>
				<li>	45s of hammer curls </li>
			</ul>

			</p>


		</div>

		<div>
			<p>This page is the Middle Stage fitness</p>
		</div>

		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page two -->

	<!-- Start of first page: #three -->
	<!--Please change the page IDs according to your category, these are just placeholders-->
	<div data-role="page" id="fitnessC">

		<div data-role="header">
			<h1>Fitness Advanced page</h1>
		</div><!-- /header -->
		<div data-role="navbar" data-grid="d">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/fitness" class="ui-btn-active">Fitness</a></li>
				<li><a href="/health">Health</a></li>
				<li><a href="/recipes">Recipes</a></li>
				<li><a href="/books">Books</a></li>
				<li><a href="#">Meditation</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!-- /navbar -->

		<div>
			<!--Please change the page IDs according to your category, these are just placeholders-->
			<a href="#fitnessA" class="ui-btn ui-btn-inline">Beginners</a>
			<a href="#fitnessB" class="ui-btn ui-btn-inline">Middle Stage</a>
			<a href="#fitnessC" class="ui-btn ui-btn-inline">Advanced</a>
		</div>

		<div>
			<p>This page is the Advanced fitness</p>
		</div>



		<div data-role="footer" data-theme="a">
			<h4>Page Footer</h4>
		</div><!-- /footer -->
	</div><!-- /page three -->

  </body>
</html>
