<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!-- Main page of Recipes: main -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Recipes Main</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Recipes</p>
		<p>Choose a Recipes category below that interests you</p>
	</div>

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

<!-- Start of first page: #one -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="plain">

	<div data-role="header">
		<h1>Simple Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<h2>Eggs</h2>
		<p>Eggs are a versatile ingredient in the use for cooking.
			<br>They can be used for the purpose of making a meal.
			<br>Scrambled eggs for breakfast, an omlette for an evening tea.
			<br>They are also used in making treats such as buns and cakes.
		</p>

		<h3>Scrambled Eggs for One</h3>

		<h3>Ingredients</h3>
		<p>
			3 eggs preferably large eggs
			<br>1 and a half tablespoon of milk or cream, for loctose intolerance use lactose free milk substitute.
			<br>1 tablespoon of chives if desired
			<br>13 grams or half an once of butter / unsalted butter
			<br>salt and pepper to season
		</p>

		<h3>Scrambled Eggs Instructions</h3>
		<p>You will need:
			<br>A pan.
			<br>A hand held blitzing blender if available.
			<br>A tablespoon.
			<br>A teaspoon.
			<br>A fork.
			<br>A timer
			<br>Wooden Spatula.
			<br>Weighing Scales.
		</p>

		<p>Crack the eggs into a bowl and remove any shell bits that may have fallen into the mixture with a teaspoon.
			<br>Next add the 1 and a half tablespoon of  milk, cream or substitute desired and pepper.
			<br>Whisk together by using a hand held blitzing blender which will give a froth to the mixture which should make the scrambled eggs lighter on finish. Or use a fork as a whisk to combine the eggs and milk together.
			<br>Add the chives to the mixture and give a stir to combine.
			<br>
		<p>
			<br>Take the pan and place on the stove at a medium heat to warm it up.
			<br>Next add half the butter to the pan, roughly 6 grams and swirl it about the pan and make the base and sides have a coating.
			<br>When the butter has melted and looks foaming add the egg mixture with chives to the pan.
			<br>Using a wooden spatula or silicone utensil stir the mixture briskly in a back and forth motion getting right into the sides of the pan.
			<br>NEVER use Metal utensil as this will damage and scrape the pan.
			<br>This should take about 3 to 4 minutes.
		</p>
			<br>
		<p>
			When three quarters or slightly more of the egg mixture is a creamy looking solid mass and the last bit to a quarter is still liquidy. The pan may be removed from the heat and the eggs will continue cook.
			<br>Add the remainder of the butter and continue to stir briskly and scramble eggs until no liquid remains in the pan. Taste to check for seasoning and add salt if needed.
			<br>Move the contents of the pan to a plate. Add toast for the breakfast presentation.
		</p>

		<p>Reference: Maguire. N, 2018, <i>Home Economics for Life</i>, Dublin 12, Gill Books of M.H. Gill and Co.</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of first page: #two -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="vegan">

	<div data-role="header">
		<h1>Vegan Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<h2>Curry</h2>
		<p>
			A dish that is varied and can have different takes and styles from vindaloo, thai-green, tika masala and more.
			<br>Curry can be made with or without meat.
			<br>It is a good option for vegans as coconut milk tends to be a base for many differeing dishes.
		</p>

		<h3>Roasted Aubergine / Eggplant and Tomato Curry</h3>

		<h3>Ingredients</h3>
		<p>
			300 grams of aubergines / eggplant
			<br>3 tablespoons of olive oil
			<br>1 onion
			<br>1 clove of garlic (crushed)
			<br>1 teaspoon of garam masala
			<br>1 teaspoon of turmeric
			<br>1 teaspoon of ground corriander
			<br>200ml from can of chooped tomatoes
			<br>200ml from can of coconut milk
			<br>sugar if desired
			<br>half a pack of corriander chopped
			<br>salt and pepper
		</p>

		<h3>Roasted Aubergine / Eggplant and Tomato Curry Instructions</h3>
		<p>You will need:
			<br>A roasting tin.
			<br>A large pot or casserole dish.
			<br>Chopping board.
			<br>Chopping knife.
			<br>Tin opener.
			<br>An Oven.
			<br>Aluminium foil (tin foil)
		</p>

		<p>
			Turn on the oven to 200 degrees celsius / 180 degrees celsius for fan assisted / gas mark 6
			<br>If using the fahrenheit temperature scale then the oven is set to 400 degrees fahrenheit
			<br>Line the roasting with tin foil. This should help prevent the aubergine / eggplant from sticking to the roasting while cooking
			<br>Using the chopping knife and board, cut the aubergine / eggplant in half length-ways and do the same again
			<br>Chop the aubergine / eggplant into rough mouth sized pieces
			<br>Place the aubergine / eggplant into the roasting tin
			<br>Drizzle 2 tablespoons of olive oil over the aubergine / eggplant and season with salt and pepper
			<br>Using hands mix the aubergine / eggplant well so that all the chunks are coated in the olive oil
			<br>Spread the aubergine / eggplant out as evenly spaced as possible and cook in the oven for 20 minutes until they turn a dark golden colour and are soft
			<br>
			<br>While the aubergine / eggplant is roasting in the oven start to make the sauce
			<br>Heat the remaining tablespoon of olive oil in a large pot or casserole dish on a medium to medium-high heat
			<br>Chop the onion and add it to the large pot
			<br>Make sure to stir the onion and coat it in all in the olive oil.
			<br>Cook the onion for roughly 5 to 6 minutes so that it is softening and turning golden
			<br>You can add a pinch of sugar at this point as it helps against the acidity of the onion
			<br>Add the crushed garlic, 1 teaspoon of garam masala, 1 teaspoon of turmeric and 1 teaspoon of ground corriander
			<br>Continue stirring to prevent the onions, garlic, garam masala, tumeric and corriander from burning.
			<br>Cook until the aromas of the spices are released
			<br>When the aubergine / eggplant is finished from cooking in the oven, add it to the onion mixture
			<br>Add the 200mls of chopped tin tomatoes and 200mls of coconut milk
			<br>Stir to combine all the mixed ingredients together
			<br>Make sure all the vegetable are well coated with the sauce
			<br>Turn down the heat to a gentle medium and place the lid on the pot
			<br>Allow for the mixture to simmer for about 20 to 25 minutes
			<br>Take the lid off and stir continuously for 5 minutes to help thicken the sauce
			<br>Serve in a bowl with rice or enjoy on its own
			<br>Add chopped corriander to garnish
		</p>

		<p>
			Reference: Collins, C. 2016,<i>BBC Good Food Magazine</i>, Priest, A. Immediate Media, Date Viewed: 12/1/2022, URL: https://www.bbcgoodfood.com/recipes/roasted-aubergine-tomato-curry,<a href="https://www.bbcgoodfood.com/recipes/roasted-aubergine-tomato-curry">BBC Good Food</a>
		</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of first page: #three -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="lactosefree">

	<div data-role="header">
		<h1>Lactose Free Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<h2>Lactose Free</h2>
		<p>
			Choosing a lactose free recipe can be difficult, especially when looking for a treat.
			<br>There tends to be many chocolate products available that mainly contain some form of milk chocolate.
			<br>Other than baked goods it may be hard to find a little pick-me-up and even then they could contain cream.
			<br>This recipe while it may be time-consuming could offer that little indulgence.
		</p>

		<h3>Chocolate, orange and hazelnut cake</h3>
		<h3>Ingredients</h3>
		<p>
			175mls of light coloured olive oil
			<br>Some extra olive oil for greasing the tin
			<br>140grams of hazelnuts
			<br>100mls of orange juice
			<br>The zest of an orange
			<br>140grams of sef-raising flour(sieved)
			<br>half a teaspoon of baking powder(sieved)
			<br>50grams of cocoa powder(sieved)
			<br>3 large eggs
			<br>175grams light brown muscavado sugar
			<br>
			<br>100grams caster sugar (for the syrup)
			<br>100mls water (for the syrup)
			<br>half freshly squeezed orange (for the syrup)
			<br>
			<br>75mls of orange juice (for the chocolate topping)
			<br>100grams of diary free dark (chocolate for the chocolate)
		</p>

		<h3>Chocolate, orange and hazelnut cake Instructions</h3>
		<p>You will need:
			<br>An Oven.
			<br>An electric hand whisker or hand whisk.
			<br>A tablespoon.
			<br>A teaspoon.
			<br>Wooden spoon.
			<br>A timer
			<br>Set of bowls.
			<br>Weighing Scales.
			<br>Sieve
			<br>cocktail stick, toothpick / small skewer
			<br>juicer
			<br>zester
			<br>Food processor
			<br>baking parchment paper
			<br>rolling pin
			<br>jug
			<br>wire-rack
		</p>

		<p>
			Turn on the oven to 180 degrees celsius / 160 degrees celsius for fan / gas mark 4
			<br>If using the fahrenheit temperature scale then the oven is set to 350 degrees fahrenheit
			<br>Using a little of the olive oil grease a loaf tin and line the tin with baking parchment paper
			<br>Using a food processor grind 140grams of hazelnuts until they resemble course breadcrumbs
			<br>Alternatively you can place the hazelnuts in a plastic ziplock food bag (other brands available), place a tea-towel over the bag and beat with rolling pin or bottom of a pot until crushed
			<br>Add the 140grams of hazelnuts to a bowl, with the 140grams of sef-raising flour sieved, 50grams of cocoa powder sieved, half a teaspoon of baking powder sieved and the zest of an orange
			<br>Mix these ingredients until they are evenly combined with each other
			<br>Add the 175mls of olive oil and 100mls of orange juice to a jug and mix together thoroughly
			<br>In a separate bowl crack in the 3 large eggs and add 175grams of light brown muscavado sugar
			<br>Using an electric hand mixer whisk together the eggs and sugar for roughly 5 to 10 minutes or until the mixture has tripled in volume and holds a little flopped peak shape
			<br>Slowly add the oil and orange juice mixture to the whisked eggs and combine by folding using a wooden spoon
			<br>Folding is done by gently stirring the mixture and drawing the wooden spoon back towards you
			<br>Add the flour mixture to the egg mixture in 3 to 4 stages
			<br>Gently shake the first stage of the flour mixture into the egg mixture so that is evenly dispersed in the bowl
			<br>Again fold each stage of the flour mixture into the egg mixture until the eggs have absorbed and combined with the flour
			<br>Pour the egg batter mixture into the earlier prepared loaf tin and bake in the oven for 50 to 55 minutes
			<br>During the last 10 to 15 minutes of oven cooking time prepare the syrup
			<br>Using a small pot combine 100grams of caster sugar and half of a freshly squeezed orange and heat until the mixture begins thickening from a running consistency
			<br>When the cake is out of the oven prick the top the cake everywhere with a small skewer
			<br>Pour 5 tablespoons of the syrup mixture over the top of the cake
			<br>Leave the cake to cool in the tin for 15 minutes and prepare the cake topping
			<br>Add 75mls of orange juice in a small pot until it simmers.
			<br>Place 100grams of dairy free dark chocolate in a bowl
			<br>Pour the heated orange juice over the dairy free dark chocolate and mix until the chocolate and orange juice combine into a smooth mixture
			<br>Leave the chocolate aside to cool down for about 15 minutes
			<br>Set the cae on a wire-rake to continue to cool down
			<br>Once the chocolate mixture has cooled spread it on top of the cake
		</p>
		<p>
			Reference: Kimber, E. 2015,December,<i>BBC Good Food Magazine</i>, Priest, A. Immediate Media Co., Date Viewed: 12/1/2022, URL: https://www.bbcgoodfood.com/recipes/chocolate-orange-hazelnut-cake,<a href="https://www.bbcgoodfood.com/recipes/chocolate-orange-hazelnut-cake">BBC Good Food</a>
		</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page three -->

</body>
</html>
