<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!-- Main page of Recipes: main -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Recipes Main</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Recipes</p>
		<p>Choose a Recipes category below that interests you</p>
	</div>

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#pageA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#pageB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#pageC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

<!-- Start of first page: #one -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="pageA">

	<div data-role="header">
		<h1>Recipes A page</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#pageA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#pageB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#pageC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div>
		<p>This page is about A</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of first page: #two -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="pageB">

	<div data-role="header">
		<h1>Recipes B page</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#pageA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#pageB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#pageC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div>
		<p>This page is about B</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of first page: #three -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="pageC">

	<div data-role="header">
		<h1>Recipes C page</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#pageA" class="ui-btn ui-btn-inline">A Category</a>
		<a href="#pageB" class="ui-btn ui-btn-inline">B Category</a>
		<a href="#pageC" class="ui-btn ui-btn-inline">C Category</a>
	</div>

	<div>
		<p>This page is about C</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page three -->

</body>
</html>
