<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<!-- Main page of Recipes: main -->
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Recipes Main</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<p>This is the main page of Recipes</p>
		<p>Choose a Recipes category below that interests you</p>
	</div>

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page main -->

<!-- Start of first page: #one -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="plain">

	<div data-role="header">
		<h1>Simple Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<h2>Eggs</h2>
		<p>Eggs are a versatile ingredient in the use for cooking.
			They can be used for the purpose of making a meal.
			Scrambled eggs for breakfast, an omlette for a an evening tea.
			They are also used in making treats such as buns and cakes.
		</p>

		<h3>Scrambled Eggs for One</h3>

		<h3>Ingredients</h3>
		<p>
			3 eggs preferably large eggs
			1 and a half tablespoon of milk or cream, for loctose intolerance use lactose free milk substitute.
			1 tablespoon of chives if desired
			13 grams or half an once of butter / unsalted butter
			salt and pepper to season
		</p>

		<h3>Scrambled Eggs Instructions</h3>
		<p>You will need:
			A pan.
			A hand held blitzing blender if available.
			A tablespoon.
			A teaspoon.
			A fork.
			A timer
			Wooden Spatula.
			Weighing Scales.
		</p>

		<p>Crack the eggs into a bowl and remove any shell bits that may have fallen into the mixture with a teaspoon.
			Next add the 1 and a half tablespoon of  milk, cream or substitute desired and pepper.
			Whisk together by using a hand held blitzing blender which will give a froth to the mixture which should make the scrambled eggs lighter on finish. Or use a fork as a whisk to combine the eggs and milk together.
			Add the chives to the mixture and give a stir to combine.

		<p>
			Take the pan and place on the stove at a medium heat to warm it up.
			Next add half the butter to the pan, roughly 6 grams and swirl it about the pan and make the base and sides have a coating.
			When the butter has melted and looks foaming add the egg mixture with chives to the pan.
			Using a wooden spatuala or silicone utensil stir the mixture briskly in a back and forth motion getting right into the sides of the pan.
			NEVER use Metal utensil as this will damage and scrape the pan.
			This should take about 3 to 4 minutes.
		</p>

		<p>
			When three quarter or slightly more of the egg mixture is a creamy looking solid mass and the last bit to a quarter is still liquidy. The pan may be removed from the heat and the eggs will continue cook.
			Add the remainder of the butter and continue to stir briskly and scramble eggs until no liquid remains in the pan. Taste to check for seasoning and add salt if needed.
			Move the contents of the pan to a plate. Add toast for the breakfast presentation.
		</p>

		<p>Reference: Maguire. N, 2018, <i>Home Economics for Life</i>, Dublin 12, Gill Books of M.H. Gill and Co.</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of first page: #two -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="vegan">

	<div data-role="header">
		<h1>Vegan Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<h2>Curry</h2>
		<p>
			A dish that is varried and can have many differnt takes and styles from vindaloo, thai-green, tika masala and more.
			Curry can be made with or without meat.
			It is a good option for vegans as coconut milk tends to be a base for many differeing dishes.
		</p>

		<h3>Roasted Aubergine / Eggplant and Tomato Curry</h3>

		<h3>Ingredients</h3>
		<p>
			300 grams of aubergines / eggplant
			3 tablespoons of olive oil
			1 onion
			1 clove of garlic
			1 teaspoon of garam masala
			1 teaspoon of turmeric
			1 teaspoon of ground corriander
			200ml from can of chooped tomatoes
			200ml from can of coconut milk
			sugar if desired
			half a pack of corriander chopped
		</p>

		<h3>Roasted Aubergine / Eggplant and Tomato Curry Instructions</h3>
		<p>You will need:
			A roasting tin.
			A large pot or casserole dish.
			Chopping board.
			Chopping knife.
			Tin opener.
			An Oven.
		</p>

		<>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page two -->

<!-- Start of first page: #three -->
<!--Please change the page IDs according to your category, these are just placeholders-->
<div data-role="page" id="lactosefree">

	<div data-role="header">
		<h1>Lactose Free Recipe</h1>
	</div><!-- /header -->
	<div data-role="navbar" data-grid="d">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="/fitness">Fitness</a></li>
			<li><a href="/health">Health</a></li>
			<li><a href="/recipes" class="ui-btn-active">Recipes</a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="#">Meditation</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</div><!-- /navbar -->

	<div>
		<!--Please change the page IDs according to your category, these are just placeholders-->
		<a href="#plain" class="ui-btn ui-btn-inline">Simple Recipe</a>
		<a href="#vegan" class="ui-btn ui-btn-inline">Vegan Recipe</a>
		<a href="#lactosefree" class="ui-btn ui-btn-inline">Lactose Free Recipe</a>
	</div>

	<div>
		<p>This page is about C</p>
	</div>

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page three -->

</body>
</html>
